.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.engine-container {
    display: flex;
    align-self: flex-start;
    position: relative;
    width: 100%;
    height: 70vh;
}

.process-list {
    display: flex;
    gap: 0.4rem;
    flex-direction: column-reverse;
    align-self: flex-start;
    flex-wrap: wrap;
}

.engine-container.list-FCFS {
    margin-left: 1.5rem;
}

.engine-container.list-SJN {
    align-self: flex-end;
    flex-direction: row-reverse;
    margin-right: 1.5rem;
}

.engine-container.list-SJN .process-block {
    display: flex;
    flex-direction: column;
    justify-self: end;
}

.engine-container svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.engine-container.list-FCFS svg {
    right: 4rem;
}

.engine-container.engine-container.list-SJN svg {
    left: 4rem;
}

.cpu-area {
    display: flex;
    flex-direction: column;
}

.cpu-area.FCFS {
    margin-left: 2rem;
}

.cpu-area.SJN {
    margin-right: 2rem;
}

.stats {
    position: absolute;
    top: 70%;
}

.stats.FCFS{
    right: 5rem;
}

.stats.SJN{
    left: 5rem;
}